*{
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
}
.zane-calendar{
	position:absolute;
	left:0;
	top:0;
	font-size:14px;
	width:280px;
	border:solid 1px #ddd;
	border-left:none;
	background:#fff; 
	overflow:hidden;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	.main-color{
		color:#34a9da;
	}
	.zane-date-left{
		float:left;
	}
	.zane-calendar-one{
		width:280px;
		.zane-date-top{
			height:40px;
			line-height:40px;
			position:relative;
			text-align:center;
			border-bottom:solid 1px #ddd;
			border-left:solid 1px #ddd;
			font-size:16px;
			.zane-date-icom{
				width:40px;
				height:40px;
				position:absolute;
			}
			.zane-icon-left{
				left:0;
				top:0;
				background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA6ElEQVRYR9XXXQ7CIAwHcDiBeAN5oM8eSW+mJ9Fz8FIPQlJDshjnPigbLXGvI/x/oaHdrOn82M755n8BiHjKp+e9f+05xU0nEGM8W2sfOTiEcFQFfIU7IroDwEUN0Do8w9klkAhnA6TCWQDJ8CJAOnwVoBG+CNAKnwVohk8A2uEjACK6lBIaY5p0OG53/DSiAZAHy4GIbgBw5W6yZ92oEw4leGoiJq1YGzE7CzQRi8NIC7E6DTUQxXEsjSgC8hWTRLAAkgg2QApRBZBAVAN+EPmz3DVrxTUbdf0xqYGW1m4qQWnTmvfdAW+Xz8YhHJFj1gAAAABJRU5ErkJggg==') no-repeat center center;
				background-size:70%;
			}
			.zane-icon-right{
				position:absolute;
				top:0;
				right:0;
				background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2klEQVRYR+XXwQ3CMAxAUWeY+MwIjFI2gElgA2ASVuBsDxMUCaTSQ2s7NlFLj1Wl/+RISZqg85M692EbACLaIeLTMs3mCTDzEQDOpZQbIh60CA/AHgAeNWxBNANqmIiGlNLVgnABtCDcAFaEK8CCcAdoESEADSIMIEWEAiSIcMAS4ieAKQIATjnnS33/H4DJVn1HxOFzaIVPYC4evgRL8VCAJB4GkMZDAJq4O0AbdwVY4m4Aa9wFwMzjS+nXJiO5ITdvRKNruTruMoH3QdPvx0Qy5rlvmpdg9YAX88PCIUoA0kEAAAAASUVORK5CYII=') no-repeat center center;
				background-size:70%;
			}
			.zane-icon-center{
				span:hover{
					color:#34a9da;
					cursor:pointer;
				}
				span:nth-child(1){
					margin-right:8px;
				}
			}
		}
		.zane-date-main{
			overflow:hidden;
			height:220px;
			border-left:solid 1px #ddd;
			.week-day{
				table.day{
					width:100%;
				}
				th,td{
					text-align:center; 
				}
				th.light,td.light{
					color:#cacaca
				}
				td{
					cursor:pointer;
					&.calendar-disabled{
						cursor:not-allowed;
						color: #ccc;
					}
				}
				td:hover{
					background:#f4f4f4;
				}
				td.active{
					background:#34a9da;
					color:#fff;
				}
			}
			.main-check-month{
				.week-day{
					td{
						width: 33.333%;
						&.calendar-disabled{
							cursor:not-allowed;
							color: #ccc;
						}
					}
				}
			}
			.main-check-year{
				.week-day{
					td{
						width: 33.333%;
						&.calendar-disabled{
							cursor:not-allowed;
							color: #ccc;
						}
					}
				}
			}
			.main-check-time{
				.week-day{
					padding:5px;
					.nav{
						overflow:hidden;
						height: 30px;
						line-height:30px;
						li{
							width:33.333%;
							float:left;
							text-align:center;
						}
					}
					.select-time{
						overflow:hidden;
						text-align:center;
						ul{
							height:176px;
							display:inline-block;
							overflow-y:scroll;
							width:28%;
							margin:0 2%;
							float:left;
							border:solid 1px #ccc;
							li{
								height:25px;
								line-height:25px;
								cursor:pointer;
								&:hover{
									background:#f4f4f4;
								}
								&.active{
									background:#34a9da;
									color:#fff;
								}
							}
						}
						/*滚动条样式*/
				        ul::-webkit-scrollbar {
				            width: 4px;     
				            height: 4px;
				        }
				        ul::-webkit-scrollbar-thumb {
				            border-radius: 5px;
				            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				            background: rgba(0,0,0,0.6);
				        }
				        ul::-webkit-scrollbar-track {
				            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				            border-radius: 0;
				            background: rgba(0,0,0,.1);
				        }
					}
				}
			}
			
		}
		.zane-date-bottom{
			border-top:solid 1px #ddd;
			border-left:solid 1px #ddd;
			overflow:hidden;
			height:40px;
			padding:0 8px;
			font-size:12px;
			.zane-date-right{
				float:right;
				.button.no-right-line{
					border-right:none;
				}
			}
			.button{
				margin-top:6px;
				cursor:pointer;
				border:solid 1px #ddd;
				padding:6px 8px;
				float:left;
				background:#fff;
				color:#999;
				&:hover{
					color:#34a9da;
				}
			}
		}
	}
}