*{
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
}
.zane-calendar{
	position:absolute;
	left:0;
	top:0;
	font-size:14px;
	width:280px;
	border:solid 1px #ddd;
	background:#fff; 
	overflow:hidden;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	.main-color{
		color:#34a9da;
	}
	.left{
		float:left;
	}
	.zane-calendar-one{
		width:280px;
		.top{
			height:40px;
			line-height:40px;
			position:relative;
			text-align:center;
			border-bottom:solid 1px #ddd;
			font-size:16px;
			.icom{
				width:40px;
				height:40px;
				position:absolute;
			}
			.left{
				left:0;
				top:0;
				background:url('../img/left-icon.png') no-repeat center center;
				background-size:70%;
			}
			.right{
				position:absolute;
				top:0;
				right:0;
				background:url('../img/right-icon.png') no-repeat center center;
				background-size:70%;
			}
			.center{
				span:hover{
					color:#34a9da;
					cursor:pointer;
				}
				span:nth-child(1){
					margin-right:8px;
				}
			}
		}
		.main{
			overflow:hidden;
			.week-day{
				padding:10px;
				table.day{
					width:100%;
				}
				th,td{
					padding:7px 0;
					text-align:center; 
				}
				th.light,td.light{
					color:#cacaca
				}
				td{
					cursor:pointer;
				}
				td:hover{
					background:#f4f4f4;
				}
				td.active{
					background:#34a9da;
					color:#fff;
				}
			}
			.main-check-month{
				.week-day{
					padding:11px;
					td{
						padding:18px 0;
						width: 33.333%;
					}
				}
			}
			.main-check-year{
				.week-day{
					padding:7px;
					td{
						padding:10px 0;
						width: 33.333%;
					}
				}
			}
			.main-check-time{
				.week-day{
					padding:5px;
					.nav{
						overflow:hidden;
						height: 30px;
						line-height:30px;
						li{
							width:33.333%;
							float:left;
							text-align:center;
						}
					}
					.select-time{
						overflow:hidden;
						text-align:center;
						ul{
							height:190px;
							display:inline-block;
							overflow-y:scroll;
							width:28%;
							margin:0 2%;
							float:left;
							border:solid 1px #ccc;
							li{
								height:25px;
								line-height:25px;
								cursor:pointer;
								&:hover{
									background:#f4f4f4;
								}
								&.active{
									background:#34a9da;
									color:#fff;
								}
							}
						}
						/*滚动条样式*/
				        ul::-webkit-scrollbar {
				            width: 4px;     
				            height: 4px;
				        }
				        ul::-webkit-scrollbar-thumb {
				            border-radius: 5px;
				            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				            background: rgba(0,0,0,0.6);
				        }
				        ul::-webkit-scrollbar-track {
				            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
				            border-radius: 0;
				            background: rgba(0,0,0,.1);
				        }
					}
				}
			}
			
		}
		.bottom{
			border-top:solid 1px #ddd;
			overflow:hidden;
			padding:8px;
			font-size:12px;
			.left{
				float:left;
			}
			.right{
				float:right;
				.button.no-right-line{
					border-right:none;
				}
			}
			.button{
				cursor:pointer;
				border:solid 1px #ddd;
				padding:6px 8px;
				float:left;
				background:#fff;
				color:#999;
				&:hover{
					color:#34a9da;
				}
			}
		}
	}
	
}